<html lang="en">

<head>

    <title>Dm Project</title>

    <!-- Bootstrap core CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">

</head>

<body>
    <nav class="navbar navbar-light" style="background-color: #e3f2fd;">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="{{ url_for('index') }}">Theater Reservation System</a>
            </div>
            <ul class="nav navbar-nav">
                <li class="active"><a href="{{ url_for('execute') }}">Administrator</a></li>
            </ul>
            <ul class="nav navbar-nav">
                <li class="active"><a href="{{ url_for('user') }}">User</a></li>
            </ul>
        </div>

    </nav>



    <div class="container-fluid">
        <h1>Customer booking</h1>
        <p>Choose the show, date, time to </p>
        <row>
            <div class="form-group">
                <form method="POST" action="/puser">
                    <label for="comment">MySQL query:</label>

                    <!--
                    <select name='query'>
                        {% for row in dbstuff %}{% for d in row %}
                        <option value="{{ d }}"> {{ d }}</option>
                        {% endfor %}{% endfor %}
                    </select>
                    <select name='query1'>
                        {% for row in dbstuff %}{% for d in row %}
                        <option value="{{ d }}"> {{ d }}</option>
                        {% endfor %}{% endfor %}
                    </select>
                    <select name='query2'>
                        {% for row in dbstuff %}{% for d in row %}
                        <option value="{{ d }}"> {{ d }}</option>
                        {% endfor %}{% endfor %}
                    </select>
                    <select name='query3'>
                        {% for row in dbstuff %}{% for d in row %}
                        <option value="{{ d }}"> {{ d }}</option>
                        {% endfor %}{% endfor %}
                    </select>
-->
                    {% for row in dbstuff %}
                    <input type="radio" name="gender" value="{{ row }}" checked> {{ row }}
                    <br>{% endfor %}

            </div>
            <input type="submit" class="btn btn-info" value="Load event details"> </button>
            </form>
        </row>
        <br>
        <br>
        <row>
            <row> Your last executed query: <code> {{ query }}</code>
                <br>
                <br>

            </row>
            <!--
            <table class="table table-striped table-bordered">
                <thead>
                    <tr>
                        {% for i in columns %}
                        <th>{{ i }}</th>
                        {% endfor %}
                    </tr>
                </thead>
                <tbody>
                    {% for row in dbstuff %}
                    <tr>
                        {% for d in row %}
                        <td>{{ d }}</td>
                        {% endfor %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
-->
        </row>
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script>
        window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')
    </script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!-- Latest compiled and minified CSS -->

</body>

</html>